.crewContainer {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: baseline;
  color: #fff;
  gap: 100px;
  padding-left: 320px;
  padding-top: 220px;
}
.crewContainer p {
  width: 444px;
  height: 128px;
  color: #d0d6f9;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
.crewContainer img {
  position: absolute;
  bottom: 0;
  right: 200px;
  object-fit: cover;
}
.crewTitle {
  display: flex;
  gap: 30px;
  font-style: 28px;
  align-items: center;
  margin-bottom: 154px;
}
.crewTitle h1 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4px;
  font-weight: normal;
}
.crewTitle span {
  color: #888;
  font-weight: bold;
  display: block;
  letter-spacing: 4px;
  font-size: 28px;
  font-family: "Barlow Condensed", sans-serif;
}
.crewContainer h2 {
  color: #888c95;
  font-weight: normal;
  font-size: 32px;
  font-family: "Bellefair", serif;
  margin-bottom: 20px;
}
.crewContainer p {
  font-family: "Barlow ", sans-serif;
  line-height: 2;
  width: 444px;
  font-weight: 100;
  color: #d0d6f9;
  font-size: 18px;
  height: 100px;
  margin-bottom: 120px;
}
.nameH1 {
  font-size: 56px;
  font-family: "Bellefair", serif;
  font-weight: 100;
  letter-spacing: 4;
  margin-bottom: 50px;
}
.spanDiv {
  display: flex;
  gap: 25px;
}
.spanDiv span {
  height: 15px;
  width: 15px;
  background-color: #888;
  border-radius: 50%;
  cursor: pointer;
}
.selected {
  background-color: white !important;
}
@media (max-width: 1600px) {
  .crewContainer {
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-left: 0px;
  }

  .crewContainer img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(35%);
    margin-top: -40px;
  }
  .crewTitle {
    align-items: flex-start;
    margin-bottom: 80px;
    margin-left: -200px;
    width: 100%;
  }

  .crewContainer h2 {
    text-align: center;
  }
  .nameH1 {
    font-size: 3rem;
    text-align: center;
  }
  .crewContainer p {
    line-height: 2;
    width: 444px;
    text-align: center;
    font-size: 18px;
    height: 100px;
    margin-bottom: 100px;
  }
  .spanDiv {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
}
